<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dom</title>
    <script src="../js/dom.js" defer></script>
</head>

<body>

    <h1 id="main-title">La manipulation du DOM en Javascript</h1>
    <h2 class="title">Quelques proprietes CSS</h2>
    <h2 class="title">Facile en Javascript</h2>

    <p class="first-paragraphe">  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae eveniet quasi maiore
        s nulla repellat. Aliquam dolores fuga minus, harum sint in,
         dolor reprehenderit placeat, et eum quaerat atque exercitationem quod!</p>

         <p class="text-uppercase">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatem veritatis magnam explicabo! Doloribus voluptates aliquid error assumenda iusto nulla fugiat praesentium deserunt. Veniam, libero temporibus tempore molestiae sit corporis?</p>

         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus accusamus temporibus in dolorum et optio commodi iusto cupiditate veniam tempore sapiente dicta labore, provident ullam natus? Adipisci commodi modi consequatur.</p>
    
</body>
</html>