<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Javascript -DOM</title>

        <link rel="stylesheet" href="../css/dom.css">
        <!-- <script src="../js/14-dom.js" defer></script> -->
        <script src="../js/15-events.js"></script>
    </head>
    <body>
        <h1 id="main-title" class="color">La manipulation du DOM en Javascript</h1>
        <h2 class="title" id="title">Quelques propriétés CSS</h2>
        <h2 class="title"  id="title-2">Pas facile le Javascript</h2>
        <div>
            <p >
                La méthode javascript getElementById() de l'objet Document
                permet de sélectionner une balise ayant un attribut id (je
                précise que la valeur de l'id doit être unique dans votre page
                HTML).
            </p>
            <p>
                La méthode javascript getElementsByTagName() de l'objet Document
                ou Element permet de sélectionner une balise par son nom
                (tagName).
            </p>
            <p id="paragraphe" class="txt-uppercase">
                La méthode Javascript getElementsByClassName() de l'objet
                Document ou Element permet de sélectionner une balise par un
                identifiant de class CSS contenu dans l'attribut HTML (class).
            </p>
            <p>
                La méthode Javascript querySelector() de l'objet Document ou
                Element permet de sélectionner une balise grâce à un sélecteur
                CSS.
            </p>
            <p class="dernier-paragraphe" id="dernier-paragraphe2" title="Je suis une pop-up ajouté en jaavscript">
                La méthode Javascript querySelectorAll() de l'objet Document ou
                Element permet de sélectionner une balise grâce à un sélecteur
                CSS.
            </p>
        </div>
    </body>
</html>