<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILMS PREFERE</title>
    <script src="../js/list.js" defer></script>
</head>
<body>

    <!-- liste html
    films avengers -->

    <!-- ecouteurs sur ul 
    li cliqueé sur change de taille 28px -->
<div id="container">
    <h1>Les films Avengers</h1>
    <ul id="films">
        <li>Thor</li>
        <li>Black  Panther</li>
        <li>Le gardien de la galaxie</li>
        <li>Les avengers</li>
        <li> Capitain American</li>
        <li>Iron Man et la Guepe</li>
        <li> L'incroyable</li>
        <li>Doctor Stanger</li>
        <li>L'incroyable Hulk</li>
    </ul>
    
</div>
</body>
</html>