<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
    <link rel="stylesheet" href="../css/todo-list.css">
    <script src="../js/todo-list.js" defer ></script>
</head>

<body>
<!-- rueodspomdqedpoamzd -->
<!-- ?J9EOPQS?DZPJLDZ?Q -->
    <div  class="content">

        <h1 class="title">Todo List</h1>

        <input id="container" type="text">
        <button class="btn">Envoyer</button>
        <ul id="todo-list"></ul>
    </div>
    
</body>
</html>