*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blueviolet;
    color: azure;
    padding: 25px 20px 10px;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

header a{
    color: antiquewhite;
    text-decoration: none;
}